@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
}
/*--------------NAVBAR---------*/
.navbar {
    margin: auto;
    padding: 0px;
    background-color: #000000;
    border-color: #000000;
    border-radius: 0px;
    color: white;
}

.navbar-brand {
    color: #fed046;
}

.parallax-1 {
    background: url("../images/of-mice-and-men-band-2015-wallpaper-4.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -mz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*---------------SOCIAL--------------*/
.social {
    display: inline-table;
    text-align: center;
    padding: 0px;
    margin-top: 5px;
}

.social a {
    font-size: 25px;
    letter-spacing: 15px;
}
/*--------------MUSIC----------------*/

.music {
    background: black;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0px;
}
/*----------------MARGINS,PADDINGS,FONTS-------*/
a
i {
    color: #feca3d;
    text-decoration: none;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
p {
    font-family: "Gloria+Hallelujah", sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 200;
}

h3 {
    font-family: "Kanit", sans-serif;
    color: #fdcb00;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    color: #fdcb00;
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

ul {
    list-style-type:none;
    color: white;
}

.wrap {
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
}


.elements{
    display: inline-block;
    padding-bottom: 30px;
}

.elements p {
    color: #fafafa;
    font-size: 20px;
    padding-top: 10px;
}

.details 
.details-3 p {
    font-family: "Gloria+Hallelujah", sans-serif;
    color: #fafafa;

}

.cover {
    background: url("../images/album-new.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 330px;
    transition: all .5s ease-in-out;
    -mz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.parallax-2{
    background-image: url("../images/20160306-muse-lanxess-arena-koeln-kirsten-otto-beitragsbild111.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -mz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*------------------PHOTOS--------------*/

.members-photos {
    background: black;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.details-3{
    float: right;
}

.thumbnail {
    background-color: black;
    border: none;
    height: 250px;
}

.members {
    
    margin-bottom: 18px;
    margin-left: 20px;
    height: 250px;
}

.parallax-3 {
    background-image: url("../images/guitar14.jpg");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -mz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*----------------------VIDEOS----------*/
.video-section {
    padding-bottom: 30px;
}

/*-------------------CONTACT FORM---------------*/
.contact {
    background: white;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.contact p {
    font-family: "Gloria+Hallelujah", sans-serif;
    color: black; 
    font-weight: 400;
}

fname {
    font-size: 15px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 5px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 0px 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 15px;
}

/*----------------SOCIAL ICONS----------------*/
.social-footer {
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    
}

.social-footer a {
    letter-spacing: 20px;
    padding-bottom: 20px;
}
/*-----------------------------------------action_page---*/


h1 {
    font-family: "Kanit", sans-serif;
    color: #fdcb00;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: auto;
}

p {
    font-family: "Kanit", sans-serif;
    color: #fdcb00;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
.parallax-3 {
    height: 1001px;
}

.php-content {
    padding-top: 350px;
}
